/* ------------------INICIAL--------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */


* {
     font-family: 'Roboto', sans-serif;

}

.navbar {
     
     position: fixed;
     top: 0;
     width: 100%;
     z-index: 999;
}

body {
     margin-top: 100px;
}

.dark-theme-nav {
     background-color: rgb(51, 51, 51);
     padding-top: 10px;
     padding-bottom: 10px;
}

/* LOGO DE BARRA NAV */
.logo-navbar {
     color: rgb(72, 229, 194);
     font-size: 28px;
     margin-right: 75px;
}

.logo-navbar:hover {
     color: rgba(58, 189, 160, 0.993);
     text-decoration: none;
}


/* BOTON DE COLAPSO DE NAV BAR */
.boton-colapso {
     border-style: solid;
     border-color: rgb(196, 196, 196);
     border-radius: 5px;
     padding-top: 5px;
     padding-bottom: 9px;
     padding-right: 8px;
     padding-left: 8px;

}

.boton-colapso img {
     width: 30px;
}


/* BARRA DE BUSQUEDA/ BOTON BUSCAR */
.buscar {
     border-radius: 30px;
     height: 25px;
     width: 40vw;
     padding-left: 18px;
     padding-right: 30px;
     background-color: rgb(196, 196, 196);
     color: rgb(51, 51, 51);
     font-weight: bolder;
     margin-right: 65px;
     z-index: 1;

}

.boton-buscar {
     position: absolute;
     background-color: rgba(51, 51, 51, 0);
     border: none;
     transform: translateX(-102px);
}

.boton-buscar img {
     width: 20px;
     height: 20px;
}

/* OPCION CREAR CURSO */
.opciones-navbar {
     position: relative;
     color: rgb(196, 196, 196);
     margin-right: 80px;
     font-size: 20px;

}

.opciones-navbar:hover {
     color: rgb(155, 155, 155);
     text-decoration: none;
}


/* OPCION REGISTRARSE E INICIAR SESION */
.opciones-navbar-2 {
     position: relative;
     color: rgb(72, 229, 194);
     margin-right: 45px;
     font-size: 20px;

}

.opciones-navbar-2:hover {
     color: rgba(58, 189, 160, 0.993);
     text-decoration: none;
}


.boton-navbar {
     margin-right: 75px;
     width: 27px;
     height: 27px;
}

.boton-navbar:hover {
     width: 29px;
     height: 29px;
}


/* BARRA CATEGORÍAS */
.barra-categorias {
     background-color: rgb(196, 196, 196);
     margin-top: 60px;
     padding-top: 8px;
     padding-bottom: 8px;
     width: 100%;
     z-index: 998;
     position: fixed;
     box-shadow: 0px 5px 5px rgba(119, 119, 119, 0.74);

}

.link-barra-categoria {
     color: black;
}

.link-barra-categoria:hover {
     color: rgb(51, 51, 51);
     font-size: 110%;
     text-decoration: none;
}


/* FOOTER */

html {
     height: 100%;
}
.footer {
     width: 100%;
     bottom: 0;
     position: absolute;
     background-color: rgb(51, 51, 51);
}

.footer h5 {
     color: rgb(72, 229, 194);
}

.footer .copyr {
     color: rgb(196, 196, 196);
}

.footer .facebook_icono {
     width: 20px;
}

.footer .instagram_icono {
     width: 20px;
}

.footer .twitter_icono {
     width: 20px;
     height: 21px;
}



/* ------------------INICIO SESION--------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */

.formulario_inicia_sesion{
     margin-top: 190px;
}
.titulo_inicia_sesion{
     margin-bottom: 26px;
     font-weight:900;
}
.formulario_inicia_sesion hr{
     background-color: rgb(51, 51, 51);
}
.formulario_inicia_sesion #usuario_inicia_sesion {
     margin-bottom: 10px;
     width: 325px;
     height: 42px;
     background-color: rgb(228, 228, 228);
     font-size: 18px;
     border: 1px rgba(0, 0, 0, 0.575) solid;
}
.formulario_inicia_sesion #contra_inicia_sesion{
     margin-bottom: 10px;
     width: 325px;
     height: 42px;
     background-color: rgb(228, 228, 228);
     font-size: 18px;
     border: 1px rgba(0, 0, 0, 0.575) solid;

}
.formulario_inicia_sesion #btn_inicia_sesion{
     margin-bottom: 5px;
     width: 180px;
     height: 30px;
     font-size: 18px;
     background-color: rgba(239, 131, 56, 1);
     border: 1px rgba(0, 0, 0, 0.575) solid;
     
}
.formulario_inicia_sesion #btn_inicia_sesion:hover{
     width: 185px;
     height: 32px;
     font-size: 19px;
     background-color: rgb(214, 116, 46);
     color: rgb(238, 238, 238);
     border: 1px rgba(0, 0, 0, 0.575) solid;
     
}
.formulario_inicia_sesion h6{
     font-size: 18px;
}
.formulario_inicia_sesion .link_inicia_sesion{
     color: rgba(28, 182, 149, 0.993);

}
.formulario_inicia_sesion .link_inicia_sesion:hover{
     color: rgba(34, 145, 121, 0.993);
     text-decoration: none;
     font-size: 20px;

}
