/* ------------------INICIAL--------------------- */
/* ---------------------------------------------------- */
/* ---------------------------------------------------- */


* {
     font-family: 'Roboto', sans-serif;

}

.navbar {

     z-index: 999;
     position: fixed;
     top: 0;
     width: 100%;
}

body {
     margin-top: 130px;
}

.dark-theme-nav {
     background-color: rgb(51, 51, 51);
     padding-top: 10px;
     padding-bottom: 10px;
}

/* LOGO DE BARRA NAV */
.logo-navbar {
     color: rgb(72, 229, 194);
     font-size: 28px;
     margin-right: 75px;
}

.logo-navbar:hover {
     color: rgba(58, 189, 160, 0.993);
     text-decoration: none;
}


/* BOTON DE COLAPSO DE NAV BAR */
.boton-colapso {
     border-style: solid;
     border-color: rgb(196, 196, 196);
     border-radius: 5px;
     padding-top: 5px;
     padding-bottom: 9px;
     padding-right: 8px;
     padding-left: 8px;

}

.boton-colapso img {
     width: 30px;
}


/* BARRA DE BUSQUEDA/ BOTON BUSCAR */
.buscar {
     border-radius: 30px;
     height: 25px;
     width: 40vw;
     margin-left: 40px;
     padding-left: 18px;
     padding-right: 30px;
     background-color: rgb(196, 196, 196);
     color: rgb(51, 51, 51);
     font-weight: bolder;
     transform: translate(-50px, 0);
     z-index: 1;

}

.boton-buscar {
     position: absolute;
     background-color: rgba(51, 51, 51, 0);
     border: none;
     transform: translateX(-85px);
}

.boton-buscar img {
     width: 20px;
     height: 20px;
}

/* OPCION CREAR CURSO */
.opciones-navbar {
     position: relative;
     color: rgb(196, 196, 196);
     margin-right: 55px;
     font-size: 18px;

}

.opciones-navbar:hover {
     color: rgb(155, 155, 155);
     text-decoration: none;
}


/* OPCION REGISTRARSE E INICIAR SESION */
.opciones-navbar-2 {
     position: relative;
     color: rgb(72, 229, 194);
     margin-right: 30px;
     font-size: 20px;

}

.opciones-navbar-2:hover {
     color: rgba(58, 189, 160, 0.993);
     text-decoration: none;
}


#dropdown-user-inicio {
     color: rgb(72, 229, 194);
}

#dropdown-user-inicio:hover {
     color: rgb(72, 229, 194);
     text-decoration: none;
}

.image-user-inicio {
     border-radius: 30px;
     width: 30px;
     height: 30px;
}


.boton-navbar {
     margin-right: 75px;
     width: 27px;
     height: 27px;
}

.boton-navbar:hover {
     width: 29px;
     height: 29px;
}


/* BARRA CATEGORÍAS */
.barra-categorias {
     background-color: rgb(196, 196, 196);
     margin-top: 60px;
     padding-top: 8px;
     padding-bottom: 8px;
     width: 100%;
     z-index: 998;
     position: fixed;
     box-shadow: 0px 5px 5px rgba(119, 119, 119, 0.74);

}

.link-barra-categoria {
     color: black;
}

.link-barra-categoria:hover {
     color: rgb(51, 51, 51);
     font-size: 110%;
     text-decoration: none;
}



/* FOOTER */
.footer {
     width: 100%;
     position: absolute;
     background-color: rgb(51, 51, 51);
}

.footer h5 {
     color: rgb(72, 229, 194);
}

.footer .copyr {
     color: rgb(196, 196, 196);
}

.footer .facebook_icono {
     width: 20px;
}

.footer .instagram_icono {
     width: 20px;
}

.footer .twitter_icono {
     width: 20px;
     height: 21px;
}


/* LISTA ALUMNOS */
.opcion-listaAlumnos{
     font-size: 18px;
     color: rgb(72, 229, 194);

}

.alumnos-img-section {
    min-width: 90px;
    min-height: 90px;
    width: 90px;
    height: 90px;
    transform: translate(55px);
    margin-top: 20px;
}

hr{
     margin-top: 8px;
     margin-bottom: 8px;
}

.totalingresos-container{
     padding-top: 10px;
      color: rgb(238, 238, 238);
     background-color: rgb(214, 116, 46);
}
